<div class="content">
  <div class="header">
    <h1 class="vacancy-title">Vaga: {{ vacancyNumber }}</h1>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @if(vacancyStatus != 'available'){
      <button mat-menu-item (click)="activateParkingSpot()">
        <mat-icon class="green-icon">check</mat-icon>
        <span>Ativar</span>
      </button>

      }@else {
      <button mat-menu-item (click)="disableParkingSpot()">
        <mat-icon class="yellow-icon">warning</mat-icon>
        <span>Manutenção</span>
      </button>
      }
    </mat-menu>
  </div>

  <div class="button-container">
    @if(vacancyStatus != 'available'){
    <button mat-flat-button disabled="">Ocupar vaga</button>
    }@else {
    <button mat-flat-button>Ocupar vaga</button>
    }
  </div>
  <div class="button-container">
    <button mat-flat-button class="cancel-button">Liberar vaga</button>
  </div>
</div>
