<!-- <div class="content">
  <h1 class="vacancy-title">Vaga: 01</h1>
  <div class="form-container">
    <form [formGroup]="searchRegisterForm">
      <mat-form-field appearance="fill">
        <mat-label>placa</mat-label>
        <input
          matInput
          placeholder="Informe a placa"
          formControlName="licensePlate"
        />
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Documento</mat-label>
        <input
          matInput
          placeholder="Informe o documento"
          formControlName="document"
        />
        <mat-icon matSuffix>person_outlined</mat-icon>
      </mat-form-field>
    </form>

    <div class="button-container">
      <button mat-flat-button>Buscar</button>
    </div>
  </div>
</div> -->
<div class="content">
  <div class="header">
    <h1 class="vacancy-title">Vaga: 01</h1>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon color="warn">error</mat-icon>
        <span>Desativar</span>
      </button>
      <button mat-menu-item>
        <mat-icon class="yellow-icon">warning</mat-icon>
        <span>Manutenção</span>
      </button>
    </mat-menu>
  </div>

  <div class="button-container">
    <button mat-flat-button>Ocupar vaga</button>
  </div>
  <div class="button-container">
    <button mat-flat-button class="cancel-button">Liberar vaga</button>
  </div>
</div>
